body {
  margin: 0;
}

.sin-eng {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.eng-eng {
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  margin: 0rem;
  padding-top: 0.2rem;
}

.line {
  margin-bottom: 1rem;
  text-align: left;
}
